extends layouts/app.pug

block content
    div.container
        div.mt-5
            h1 Parser con TS
        div.mt-3
            button#btnOpen.btn.btn-primary Abrir
            button#btnSave.btn.btn-success.ml-3 Guardar
            button.btn.btn-danger.ml-3#btnDelete Borrar todo
            input#file-input.invisible(type="file")
        div.mt-3
            form#formTxt(action="/parser", method="post")
                textarea#txt.form-control(rows="15", name="txt")
        div.mt-3.row.justify-content-end
            button#btnCompile.btn.btn-primary.mr-3 Compilar
        if data != undefined
            if data.status === 'error' 
                div.mt-3.alert.alert-danger(role="alert") #{data.message}
            else
                div.mt-3.alert.alert-success(role="alert") 
                    | Resultado: 
                    br 
                    | #{data.message}
        if graph != undefined
            div#graphTree.mt-3.overflow-auto.mh-100